
h1 {
    margin-top: 5pt;
    margin-bottom: 10pt;
}

.container {
    max-width: 768px;
}

.sand-saga-scenario-list {
    margin-bottom: 1rem;
}

.alert-info {
    background-color: rgb(255, 234, 142);
    background-position: 0px 0px;
    background-size: 200px 200px;
    background-image: url("/data/noise.png");
    border-color: rgb(255, 230, 69);
}

#footer-image {
    height: 80px;
    background-image: url('/data/footer-image.png');
    background-repeat: repeat no-repeat;
    background-size: 1380px 80px;
    background-position: center bottom;
    image-rendering: pixelated;
}

.sand-saga-footer {
    font-size: small;
}

.small-preview {
    user-select: none;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    border-radius: 8px;
}

.btn-discord {
    --bs-btn-bg: rgb(88, 101, 242);
}

.btn-discord .bi-discord {
    vertical-align: -0.125em;
    width: 1em;
    height: 1em;
}
