
#page-content-wrapper {
    min-width: 100vw;
    min-height: 100vh;
}

.spacer {
    flex: 1 1 auto;
    padding-top: 2em;
}

@media (min-width: 1360px) {
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
}

h1 {
    background-color: rgb(225, 217, 171);
    background-position: 0px 0px;
    background-size: 100px 100px;
    background-image: url("/noise.png");
}
