
body {
    background-color: #ffffff;
    background-position: 0px 0px;
    background-size: 200px 200px;
    background-image: url("/noise.png");
}

#page-content-wrapper {
    min-width: 100vw;
    min-height: 100vh;
}

h1 {
    padding: 1rem;
    color: white;
    background-color: rgb(52, 58, 64);
    background-position: 0px 0px;
    background-size: 100px 100px;
    background-image: url("/noise.png");
    border-radius: 5pt;
}

.spacer {
    flex: 1 1 auto;
    padding-top: 2em;
}

@media (min-width: 1360px) {
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
}
