
h1 {
    font-size: small;

    margin-top: 0;
    margin-bottom: 5pt;

    padding-left: 3pt;
}

@media (min-height: 500px) {
    h1 {
        font-size: 1rem;

        margin-top: 5pt;
        margin-bottom: 10pt;

        border-radius: 5pt;
        padding: 5pt;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2rem;
    }
}

h1 a {
    color: black;
}
